@import '@fontsource/fira-mono';

:root {
	/* --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	--font-mono: 'Fira Mono', monospace;
	--color-theme-1: #0e9f89;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--outside-padding: 3em;
	font-family: var(--font-mono);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

h1, h2, p {
	font-weight: 400;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}
/* 
@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
} */

code {
	color: var(--color-theme-1);
	background-color: rgb(196, 250, 206);
	border-radius: 0.3em;
	padding: 1px 2px;
	white-space: nowrap;

	font-family: var(--font-mono);
}